# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

#  Ignorar entornos virtuales
env/
venv/
ENV/
.venv/

# Ignorar archivos de configuración del sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones de VS Code
.vscode/
*.code-workspace

#  Ignorar dependencias (si usas Node en el frontend)
node_modules/

#  Ignorar archivos temporales
*.log
*.tmp
*.bak
