
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* .d-flex {
  display: flex;
  height: 100vh;
  overflow: hidden;
} */


/* .sidebar-menu {
  width: 250px;
  flex-shrink: 0; 
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
} */


.main-layout {
  margin-left: 250px; /* mismo ancho que el sidebar */
  width: calc(100% - 250px);
  overflow-y: auto;
  background-color: white;
}
